.sub-menu .header-icon {
  padding: 0 0.8rem;
}

.sub-menu {
  text-decoration: none;
}

.notification {
  border: 1px solid var(--vanilla);
  background-color: var(--primary-color);
  width: 1.2rem;
  height: 1.2rem;
}

.simple-header > .header {
  position: fixed;
  height: 11vh;
  width: 100%;
  min-width: 0;
  border: none;
  box-shadow: var(--btn-box-shadow);
  z-index: 7;
  top: 0;
  left: 0;
  background-color: var(--white);
  overflow: auto;
}

.header-items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (max-width: 567px) {
  #search-bar {
    max-width: 10rem;
    width: 100%;
  }
}
