.vertical-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 16rem;
  width: 100%;
  box-shadow: var(--btn-box-shadow);
}

.vertical-card .icon {
  color: #f0586a;
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  cursor: pointer;
  z-index: 1;
  background-color: transparent;
  border: none;
}

.product-sub-heading {
  display: flex;
  justify-content: space-around;
}
